<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">FleurStock!</h1>
    <p class="lead">Application de gestion de stock de fleurs.</p>
    <hr class="my-4">
    <p>Ajouter de nouvelles fleurs ou afficher la liste des fleurs.</p>
    <p class="lead">
      <a [routerLink]="['/fleur']" class="btn btn-primary btn-lg" href="#" role="button">Liste des fleurs.</a>
      <a [routerLink]="['/fleur/0']" href="#" class="btn btn-warning btn-lg">Ajouter une nouvelle fleur.</a>
    </p>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 25rem;">
        <div class="card-block">
          <div class="card-title">
            <span class="badge badge-success pull-right">Nombre total</span>
            <h4 class="card-title">FLEURS</h4>
            <hr class="my-4">
          </div>
          <h1 class="card-text">{{stat.total}} fleur(s)</h1>
          <p>{{stat.noir}} noire(s) / {{stat.blanc}} blanche(s)</p>
        </div>
      </div>
    </div>
  </div>
</div>
