<div class="container">

  <h3>
    Liste des fleurs
    <a href="#" [routerLink]="['/fleur/0']" role="button" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i></a>
  </h3>

  <table class="table table-striped table-hover">
    <tbody>
    <tr *ngFor="let fleur of fleurs">
      <td>#{{fleur.id}}</td>
      <td>
        <h5>{{fleur.nom}}</h5>
        <small>Couleur </small> : {{fleur.nomCouleur}} <br/>
        <small>Prix</small> : {{fleur.prix | currency:'USD':true}}
      </td>
      <th>
        <button [routerLink]="['/fleur/' + fleur.id]" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Editer</button>
        <button
          class="btn btn-danger btn-sm"
          mwlConfirmationPopover
          title="Confirmation"
          message="Voulez-vous vraiment supprimer?"
          placement="top"
          cancelText='Non <i class="fa fa-remove"></i>'
          confirmText='Oui <i class="fa fa-check"></i>'
          (confirm)="delFleur(fleur.id)">
          <i class="fa fa-trash-o"></i> Supprimer
        </button>
      </th>
    </tr>
    </tbody>
  </table>



</div>
