<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/accueil']" href="#">FleurStock</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{active: activeRoute('/accueil')}">
        <a class="nav-link" [routerLink]="['/accueil']" href="#">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="{active: activeRoute('/fleur')}">
        <a [routerLink]="['/fleur']" class="nav-link" href="#">Fleur</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
