<div class="container">
  <h1>Formulaire </h1>
  <form [formGroup]="form" (ngSubmit)="enregistreFleur(form.value)">
    <div class="form-group row">
      <label for="nom" class="col-2 col-form-label">Nom</label>
      <div class="col-10">
        <input type="text" class="form-control" id="nom" formControlName="nom">
        <div *ngIf="formErrors.nom" class="alert alert-danger">
          {{ formErrors.nom }}
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="couleur" class="col-2 col-form-label">Couleur</label>
      <div class="col-10">
        <select name="couleur" id="couleur" class="custom-select" formControlName="couleur">
          <option value="1">Noire</option>
          <option value="2">Blanche</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="prix" class="col-2 col-form-label">Prix</label>
      <div class="col-10">
        <input type="number" class="form-control" id="prix" formControlName="prix">
        <div *ngIf="formErrors.prix" class="alert alert-danger">
          {{ formErrors.prix}}
        </div>
      </div>
    </div>
    <button class="btn btn-default" type="submit" [disabled]="!form.valid">Enregistrer</button>
  </form>
</div>
